table {
    border-style: inset;
    border-collapse: collapse;
    border-width: 0.2em;
}

th, td {
    border-right: solid 1px;
    border-bottom: solid 1px;

}

td {
    padding: 10px;
}

img {
    height: 60px;
    width: 60px;
}