

th {
    border-bottom: solid 1px;
}

td {
    padding: 10px;
}

.rightBorder {
    border-right: solid 1px;
}

div {
    float: left;
    padding: 10px;
}

img {
    height: 60px;
    width: 60px;
    display: block;
    margin: auto;
}

.wideImage {
    height: 50px;
    width: 70px;
}

figcaption {
    text-align: center;
    font-size: small;
}

#skillTable {
    width: 50%;
}