table {
    border-style: inset;
    border-collapse: collapse;
    border-width: 0.2em;
}

th {
    border-right: solid 1px;
    border-bottom: solid 1px;

}

td, .rightBorder {
    border-right: solid 1px;
    padding: 10px;
    max-width: 300px;
}

div {
    float: left;
    padding: 10px;
}

img {
    height: 50px;
    width: 50px;
}

figcaption {
    text-align: center;
    font-size: small;
}