<table class="skillTable table table-responsive">
    <thead class="skillThead">
    <th class="skillth"></th>
    </thead>

    <tr class="skillTr">
        <td class="skillTd rightBorder">
            {{#each developed}}
                <div class="skill">
                    <img src="{{this.imgSrc}}" class="skillImg {{this.imgClass}}">
                    <figcaption class="skillCaption">{{this.name}}</figcaption>
                </div>
            {{/each}}
        </td>
    </tr>


</table>